@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap') format('woff2'),
       url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap') format('woff');
}
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap'); */

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
/* input[type="text"], */
input[type="password"],
input[type="email"] {
  @apply w-full  my-2 py-2 px-3 rounded-2xl focus:outline-none ;
}

.li-lg{
  @apply flex list-none gap-3 p-2 py-[10px]  xl:hover:bg-slate-100 w-full ml-[2px]  
}

.li-sm{
@apply flex m-0 p-3 items-center align-middle gap-0 list-none
}

.active{
  @apply flex
}

.icon{
  @apply flex h-5 
}

.icon-comp, .post-icon{
  @apply h-7 w-7 cursor-pointer hover:scale-110 hover:font-bold
}
.icon-comp.action{
  @apply h-6 w-6 md:h-7 md:w-7 cursor-pointer hover:scale-110 hover:font-bold 
}

.profile{
  @apply h-9 w-9 rounded-full
}

.post-icon{
  height: 18px;
  width: 100%;
}
.post-icon-sm{
  height: 16px;
  cursor: pointer;
}

.icon-msg{
  height: 52px;
  width: 52px;
}

.link{
  text-decoration: none;
  
}

/* Add scrollbar styles for elements that need scrolling (optional) */
.scrollable {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide the scrollbar in WebKit-based browsers */
.scrollable::-webkit-scrollbar {
  display: none;
}

.grey{
  color: rgb(191, 187, 187);
  font-size: small;
}

.active{
  @apply font-bold border md:border-none flex items-center 
}